[{:itonami.blueprint/social-impact [:local-jobs :financial-transparency :branch-community-support], :itonami.blueprint/domain :finance/branch-operations, :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger], :itonami.blueprint/isco-08 "1346", :itonami.blueprint/name "Financial and Insurance Services Branch Manager", :itonami.blueprint/governor :branch-manager-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-1346", :itonami.blueprint/license "AGPL-3.0-or-later"}]
